<h1>All restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <p><%= restaurant.category %></p>
  <% end %>
</ul>

<p><%= link_to "add a restaurant",  new_restaurant_path %></p>
